table, td, th {
  border: 1px solid gray
}
.tableau{
  background-color: rgba(120, 99, 128, 0.5);
  margin-bottom: 2em;
}
.entete{
  color:black;
}
.corps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.corps > *{
  flex: 80%;
}

@media (min-width: 600px){
  .aside {
    flex: 1 auto;
  }
}

@media (min-width: 8000px){
  .main{
    flex: 1 0px;
  }


.main {
  order: 1
}

.footer{
  order: 2;
}
}

.chat{
  margin-top: 1em;
}
