.corps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.corps > *{
  flex: 80%;
}

@media (min-width: 600px){
  .aside {
    flex: 1 auto;
  }
}

@media (min-width:8000px){
  .main{
    flex: 1 0px;
  }


.main {
  order: 1
}

.footer{
  order: 2;
}
}
